@import 'tailwindcss';

@keyframes opacityAnimation {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.animation-opacity {
  opacity: 0;
  /* pointer-events: none;  훅으로 대체*/
  animation: opacityAnimation 2s ease both;
  /* animation-delay: 1.8s; light house 에러유발 코드*/
  will-change: opacity;
}

@keyframes drawAnimation {
  from {
    stroke-dashoffset: 2280;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fillAnimation {
  from {
    fill: transparent;
  }
  to {
    fill: #0b64fe;
  }
}

.animation-svg-draw path {
  fill: transparent;
  stroke: #77a9ff;
  stroke-width: 2;
  stroke-dasharray: 2280; /* 초기 상태 */
  stroke-dashoffset: 2280;
  animation:
    drawAnimation 2s ease-out both,
    fillAnimation 2s ease-out both;
  will-change: stroke-dashoffset, fill;
}

.animation-svg-fill path {
  fill: transparent;
  stroke: #77a9ff;
  stroke-width: 2;
  stroke-dasharray: 1000; /* 초기 상태 */
  stroke-dashoffset: 1000;
  animation: fillAnimation 2s ease-out both;
  will-change: fill;
}

.animation-svg-fill path:nth-of-type(1) {
  animation-delay: 0.16s;
}
.animation-svg-fill path:nth-of-type(2) {
  animation-delay: 0.32s;
}
.animation-svg-fill path:nth-of-type(3) {
  animation-delay: 0.48s;
}
.animation-svg-fill path:nth-of-type(4) {
  animation-delay: 0.64s;
}
.animation-svg-fill path:nth-of-type(5) {
  animation-delay: 0.8s;
}

.animation-border::before,
.animation-border span::before,
.animation-border::after,
.animation-border span::after {
  content: '';
  position: absolute;
  background: #0b64fe;
  display: inline-block;
}

@keyframes borderAnimation-x {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes borderAnimation-y {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}
.animation-border::before {
  left: 0%;
  top: 0%;
  width: 0%;
  height: 1px;
  animation: borderAnimation-x 1.5s ease-out both;
}

.animation-border::after {
  right: 0%;
  bottom: 0%;
  width: 0%;
  height: 1px;
  animation: borderAnimation-x 1.5s ease-out both;
}

.animation-border span::before {
  left: 0%;
  bottom: 0%;
  width: 1px;
  height: 0%;
  animation: borderAnimation-y 1.5s ease-out both;
}

.animation-border span::after {
  right: 0%;
  top: 0%;
  width: 1px;
  height: 0%;
  animation: borderAnimation-y 1.5s ease-out both;
}
