@import 'tailwindcss';

@theme {
  --color-main-blue: #0b64fe;
  --color-main-gray-100: #f0eeea;
  --color-main-gray-200: #808080;
  --font-museo: 'MuseoSans', 'sans-serif';
}

@font-face {
  font-family: 'MuseoSans';
  font-style: normal;
  font-weight: 100;
  font-display: fallback;
  src: url(./assets/fonts/MuseoModerno-Thin.ttf);
}

@font-face {
  font-family: 'MuseoSans';
  font-style: normal;
  font-weight: 200;
  src: url(./assets/fonts/MuseoModerno-ExtraLight.ttf);
}

@font-face {
  font-family: 'MuseoSans';
  font-style: normal;
  font-weight: 300;
  src: url(./assets/MuseoModerno-Light.ttf);
}

@font-face {
  font-family: 'MuseoSans';
  font-style: normal;
  font-weight: 400;
  src: url(./assets/fonts/MuseoModerno-Regular.ttf);
}

@font-face {
  font-family: 'MuseoSans';
  font-style: normal;
  font-weight: 500;
  src: url(./assets/fonts/MuseoModerno-Medium.ttf);
}
