@import 'tailwindcss';

@theme {
  --color-main-blue: #0b64fe;
  --color-main-gray-100: #f0eeea;
  --font-museo: 'MuseoSans', 'sans-serif';
}

@font-face {
  font-family: 'MuseoSans';
  font-style: normal;
  font-weight: 100;
  src: url(/fonts/MuseoModerno-Thin.ttf);
}

@font-face {
  font-family: 'MuseoSans';
  font-style: normal;
  font-weight: 200;
  src: url(/fonts/MuseoModerno-ExtraLight.ttf);
}

@font-face {
  font-family: 'MuseoSans';
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/MuseoModerno-Light.ttf);
}

@font-face {
  font-family: 'MuseoSans';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/MuseoModerno-Regular.ttf);
}

@font-face {
  font-family: 'MuseoSans';
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/MuseoModerno-Medium.ttf);
}

@keyframes draw {
  0% {
    stroke-dasharray: 0, 100;
  }
  100% {
    stroke-dasharray: 100, 0;
  }
}

@keyframes fillAnimation {
  0% {
    fill: transparent;
  }
  100% {
    fill: #0b64fe;
  }
}

.svg-icon path {
  fill: transparent;
  stroke: #0b64fe;
  stroke-width: 2;
  stroke-dasharray: 0, 100; /* 초기 상태 */
  animation:
    draw 2s ease forwards,
    fillAnimation 1.5s ease 2s forwards; /* fill은 3초 동안 애니메이션 */
}
