@import 'tailwindcss';

/* --color-main-gray-100: #f0eeea; */
@theme {
  --color-main-blue: #0b64fe;
  --color-main-gray-100: #fafafa;
  --color-main-gray-200: #808080;
  --color-main-black-50: #343434;
  --color-main-black-100: #232323;
  --font-museo: 'MuseoSans', 'sans-serif';
}

@font-face {
  font-family: 'MuseoSans';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(./assets/fonts/MuseoModerno-Thin.woff2);
  unicode-range: U+0020-007E, U+AC00-D7A3, U+00A0-00FF, U+20A0-20CF, U+2100-214F;
}

@font-face {
  font-family: 'MuseoSans';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(./assets/fonts/MuseoModerno-ExtraLight.woff2);
  unicode-range: U+0020-007E, U+AC00-D7A3, U+00A0-00FF, U+20A0-20CF, U+2100-214F;
}

@font-face {
  font-family: 'MuseoSans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(./assets/MuseoModerno-Light.woff2);
  unicode-range: U+0020-007E, U+AC00-D7A3, U+00A0-00FF, U+20A0-20CF, U+2100-214F;
}

@font-face {
  font-family: 'MuseoSans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./assets/fonts/MuseoModerno-Regular.woff2);
  unicode-range: U+0020-007E, U+AC00-D7A3, U+00A0-00FF, U+20A0-20CF, U+2100-214F;
}

@font-face {
  font-family: 'MuseoSans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(./assets/fonts/MuseoModerno-Medium.woff2);
  unicode-range: U+0020-007E, U+AC00-D7A3, U+00A0-00FF, U+20A0-20CF, U+2100-214F;
}
